# See http://help.github.com/ignore-files/ for more about ignoring files.
# Cert files
*.crt
*.key

# compiled output
dist
tmp
/out-tsc
**/.mesh
.nx

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
test-results
.DS_Store
.env
.aligent.env
.star.env
build-stats.json
lastCachedGraphQLSchema.json
test-report.xml
test-results.json

# System Files
.DS_Store
Thumbs.db

# Files generated for the purposes of typescript
graphql.d.ts
graphql.schema.json
packages/base/codegen.yml
.tsc
*.scss.d.ts
