.idea
.vscode
coverage
node_modules
test-results
dist
.DS_Store
.env
build-stats.json
npm-debug.log
lastCachedGraphQLSchema.json
test-report.xml
test-results.json
yarn-error.log
.tsc
graphql.d.ts
graphql.schema.json
generated/
additional-type-defs
/coverage
/.nx/cache